<!DOCTYPE html>
<html ng-app="notifApp">
<head>
	<title>Notif'BOOK - Envoie une notification a tes amis !</title>

	<link rel="stylesheet" href="css/bootstrap.min.css"> 
	<link rel="stylesheet" href="css/twitter.css"> 
	<link rel="stylesheet" href="css/style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
	<div class="container" ng-show="divConnexion">

		<div class="hero-unit" >
			<h1>Notif'BOOK</h1>
			<p>Tenir informé ses amis distant en temps réel !</p>
			<p><a href="#" class="btn primary large">En savoir plus</a></p>
			<ul class="nav nav-tabs" id="menuConnexion" ng-controller = "AffichageConnexionController">
				<li class="active" id="btnLogin" ><a data-toggle="tab" ng-click="afficherLogin()">Login</a></li>
				<li id="btnAccount" class=""><a data-toggle="tab" ng-click="afficherCreateAccount()">Create Account</a></li>
			</ul>
			<br>
			<div ng-controller="ConnexionLoginController">
				<div id="divLogin" >
					<form novalidate class="form-stacked" id="sendLogin">
						<fieldset>
							<div class="clearfix">
								<label>Pseudo de connection</label>
								<div class="input" >
									<input type="text" id="pseudoL" ng-model="user.pseudo">
								</div>
							</div>

							<div class="clearfix">
								<label>Mot de passe</label>
								<div class="input" >
									<input type="password" id="passL" ng-model="user.mdp">
								</div>
							</div>

							<div class="actions">
								<input type="submit" value="Envoyer" class="btn primary" ng-click="traiterConnexion(user)">
								<input type="reset" class="btn">
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div ng-controller="ConnexionCreateLoginController">
				<div id="divAccount">
					<form novalidate class="form-stacked" id="sendAccount">
						<fieldset>
							<div class="clearfix">
								<label>Pseudo</label>
								<div class="input" >
									<input type="text" id="pseudoA" ng-model="newUser.pseudo">
								</div>
							</div>

							<div class="clearfix">
								<label>Mot de passe</label>
								<div class="input" >
									<input type="password" id="passA" ng-model="newUser.mdp">
								</div>
							</div>


							<div class="actions">
								<input type="submit" value="Envoyer" class="btn primary" ng-click="update(newUser)">
								<input type="reset" class="btn">
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>





	<div class="topbar" ng-show="divMenu">
		<div class="fill">
			<div class="container">
				<h3><a href="/">Notif'BOOK</a></h3>
				<ul>
					<li><a href="#">Calendrier</a></li>
					<li><a href="#">Envoyer une Notification</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Historique</a></li>
					<li><button data-url="demo-modal.html" id="demo">Click me</button></li>
				</ul>
				<div >
					<form action="#" >
						<input type="text" placeholder="Recherche un ami" ng-model="searchFriend" autofocus>
						<ul>
							<li class="friend" ng-repeat="friend in lesPseudos track by $index | filter:searchFriend">
								{{friend}}
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div ng-controller="NotifController">
		<div class="container" ng-show="divInfo" >
			<div class="hero-unit">
				<h1>Notif'BOOK</h1>
				<p>Tenir informé ses amis distant en temps réel !</p>
				<p><a href="#" class="btn primary large">En savoir plus</a></p>
				<div id="formPseudo">
				</div>
			</div>

			<p>&nbsp;</p>

			<div class="row" id="divAccueil" ng-show="divAccueil">
				<div class="span11">

					<p>&nbsp;</p>
					<div class="page-header">
						<h1>Envoyer une Notification</h1>
					</div>

					<form novalidate class="form-stacked" id="sendForm">
						<fieldset>
							<div class="clearfix">
								<label>Titre</label>
								<div class="input" >
									<input type="text" id="titreNotif" ng-model="notification.titre">
								</div>
							</div>

							<div class="clearfix">
								<label>Message</label>
								<div class="input">
									<textarea name="" id="textNotif" cols="30" raw="10" ng-model="notification.message"></textarea>
									<span class="help-block">Pas de code HTML dans le message</span>
								</div>
							</div>
							<div class="actions">
								<input type="submit" value="Envoyer" class="btn primary" id="validerNotif" ng-click="EnvoyerMsg(notification)">
								<input type="reset" class="btn">
							</div>
						</fieldset>
					</form>

				</div>
			</div>
		</div>
		<div class ="notifications" id="notifications" ng-show="divNotifications">
			<div id="scrollNotif" style="display: block;">
				<div id="notification" class ="notification add" ng-repeat= "msg in messages track by $index">
					<div class ="left" >
						<div class="icon">
							<img id="imgIcone" src="img/icone.png"></img>
						</div>
					</div>
					<div class = "right">
						<h2>{{msg.message.title}}</h2>
						<p>{{msg.message.content}}</p>
						<p id="pidPseudo">De:{{msg.message.pseudo}} </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="scripts/socket.io.js"></script>
	<script type="text/javascript" src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src = "scripts/mainController.js"></script>
	<script src = "scripts/affichageConnexionController.js"></script>
	<script src = "scripts/connexionLoginController.js"></script>
	<script src = "scripts/connexionCreateLoginController.js"></script>
	<script src = "scripts/NotifController.js"></script>

	<script type="text/javascript" src="scripts/cobra.js"></script>
	<script type="text/javascript" src="scripts/cobraNotif.js"></script>
	<script src = "scripts/rechercherController.js"></script>
</body>
</html>